<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">The Gossip Project</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/team/show">Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact/show">Contact</a>
			</li>
		</ul>
	</div>
</nav>

<div class="text-center">
	<h1 class="m-4">Création d'un utilisateur</h1>
</div>

<%= form_tag url_for(action: 'create'), method: "post" do %>

	<% if @gossip %>
		<% if @gossip.errors.any? %>
			<div class="alert alert-danger">
				<p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
				
				<ul>
					<% @gossip.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>

			</div>
		<% end %>
	<% end %>

	<div class="row justify-content-center">
		<div class="col-4">
			<div class="form-group">
				<%= label_tag 'Nom :' %>
				<%= text_field_tag 'first_name', nil, class: 'form-control'%>	
			</div>

			<div class="form-group">
				<%= label_tag 'Age :' %>
				<%= number_field_tag 'age', nil, class: 'form-control', min: 0, max: 100 %>	
			</div>

			<div class="form-group">
				<%= label_tag 'Description :' %>
				<%= text_field_tag 'description', nil, class: 'form-control'%>	
			</div>

			<div class="form-group">
				<%= label_tag 'Mot de passe :' %>
				<%= password_field_tag 'mdp', nil, class: 'form-control'%>	
			</div>

		</div>

		<div class="col-4">
			<div class="form-group">
				<%= label_tag 'Prénom :' %>
				<%= text_field_tag 'last_name', nil, class: 'form-control'%>	
			</div>

			<div class="form-group">
				<%= label_tag 'Email :' %>
				<%= text_field_tag 'mdp_confirm', nil, class: 'form-control'%>	
			</div>


			<div class="form-group">
				<%= label_tag 'Ville :' %>

				<!-- Select form -->
				<%= select("post", "person_id", City.all.collect {|c| [ c.name, c.id ] }, { include_blank: true }, {:class => "form-control"})	%>
			</div>
			
			<div class="form-group">
				<%= label_tag 'Confirmation du mot de passe :' %>
				<%= password_field_tag 'email', nil, class: 'form-control'%>	
			</div>
		</div>
	</div>
	<div class="text-center">
		<%= submit_tag "Ajouter", class: 'btn btn-success'%>
	</div>
<% end %>